/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #63ff00;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .form .usernameInput:hover {
  border-bottom: 2px solid #0099cc;
}

.login.page .title {
  font-size: 300%;
  color:#228b22
}

.login.page .usernameInput {
  font-size: 400%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #7fffd4;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
  /*background-color:#2d2d2d*/
  background-color:#1c1c1c;
}

/* Font */

.messages {
  font-size: 150%;
  color:#63ff00;
}

.system {
    color: cyan;
    animation: colorRotate 10s ease-in infinite;
    -moz-animation: colorRotate 10s ease-in infinite;
    -webkit-animation: colorRotate 10s ease-in infinite;
}

@keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
        text-shadow: 0px 2px 8px rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
        text-shadow: 0px 2px 8px rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
        text-shadow: 0px 2px 8px rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
        text-shadow: 0px 2px 8px rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
        text-shadow: 0px 2px 8px rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
        text-shadow: 0px 2px 8px rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
        text-shadow: 0px 2px 8px rgb(255, 0, 0);
    }
}
.inputMessage {
  font-size: 100%;
  background-color:#5de3c9
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 95%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #1c1c1c;
  border-radius: 55px;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

#roomButton1 {
  background-color: #63ff00;
  color: #5de3c9;
}

#roomButton2 {
  background-color: #63ff00;
  color: #5de3c9;
}

#roomButton3 {
  background-color: #63ff00;
  color: #5de3c9;
}

#pageReturnHome {
  border-radius: 0px;
  border-color: #6b36bf;
  background-color: #6b36bf;
  width: 215px;
  height: 100px;
}

#returnHomeP {
  text-align: center;
  top: 50%
}

.spinning {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

body {
    background-color: #1c1c1c;
}

#theme {
  color: #ffffff;
}

#userRoster {
    color: #1c1c1c;
}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.themeStuff {
  height: 8%;
  background-color: cyan;
}
